body{
  background-color: gold;
}
p{
  margin: 5px;
}

.back-button{
  background-color: inherit;
  font-weight: bold;
}

/*--------------------HEADING--------------------*/
.title{
  margin-bottom: 0;
  font-size: 40px;
  font-weight: bold;
}
.subtitle{
  margin: 0;
  font-size: 24px;
  letter-spacing: .25em;
  font-style: italic;
  border-top: 1px solid gray;
}

@media (max-width: 768px){
  .title{
    font-size: 24px;
  }
  .subtitle{
    font-size: 15px;
  }
}

/*--------------------QUOTE--------------------*/
.quote-col{
  margin: 24px 0 12px;
}
#quote-number{
font-style: normal;
}
.quote-box{
  background-color: #333333;
  color: white;
  margin: 0 auto 32px;
  padding: 12px;
  height: 100px;
  max-width: 50%;
  min-width: 300px;
  height: 150px;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-radius: 16px;
  background-image: linear-gradient(to bottom, #333333, #000000);

}

@media (max-width: 768px){
  .quote-col{
    margin: 0;
  }
  .quote-box{
    margin: 0 auto 12px;
    height: 110px;
    font-size: 14px;
    max-width: 450px;

  }
}

/*--------------------IMAGES--------------------*/
img{
  width: 200px;
  border-radius: 10%;
}
.img-col{
  text-align: center;
}

@media (max-width: 768px){
  img{
    width: 100px;
  }
}

/*--------------------BUTTONS--------------------*/
.btn{
  min-width: 75px;
}
.button-row{
  height: 20em;
}
.button-col{
  text-align: center;
}
.name-button{
  display: block;
  margin: 12px auto;
}
.next-button{
  margin: 24px;
  font-size: 24px;
  font-weight: bold;
  background-color: inherit;
  /*float: right;*/
  position: relative;
  float: right;
}

@media (max-width: 768px){
  .name-button{
    font-size: 9px;
  }
  .button-row{
    height: 12em;
  }
}
