*{
	margin: 0px;
}

html{
	/*border: 1px solid red;*/
}

body{
	/*border: 1px solid green;*/
	font-family: "Avant Garde", Avantgarde, 
	"Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	background-color: gold;
}

#title{
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 24px;
	padding: 24 0  20 24;
}

#quote_container{
	width: 30em;
	height: 100px;
	margin: auto;
	/*border: 1px dashed blue;*/
}

#photo_container{
/*	border: 1px dashed black; */
	text-align: center;
}

.image_and_button_box{
	/*border: 1px solid red;*/
	display: inline-block;
	width: 200px;
	height: 224px;
	background-image: url('3x3sprite.jpg');
	margin: 0 25;
	border-radius: 50%;
}

.button{ 
	margin: auto;
	border-radius: 4px;
	background-color: #f4511E;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
	position: relative;
	top: 216px;
}

#image_1{
	height: 200px;
	background-position: 0 0;
}

#image_2{
	height: 200px;
	background-position: -200 0;
}

#image_3{
	height: 200px;
	background-position: -400 0;
}

#footer{
	margin:24px;
	float: right;
}

#next_button{
	background-color: black;
	margin: auto;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
	position: relative;
	top: 216px;
}
